#wrapper {

    max-width: 100%;
    height: auto;
    text-align: center;
    font-weight: bolder;
    color: white;
    /* display: flex; */
    background: no-repeat url("/static/img/download.jpg"); 
    background-position: center center; 
    
}

#header {

    width: 100%;
    text-align: center;
    font-size: 6vw;
    vertical-align: top;
    color: orange;
}

#headerParagraph {
    margin: 0;
    
}

#body {
    display: flex;
    height: 100%;
}

#registration { 
    max-width: 24%;
    display: inline-block;
    
}  

#aboutIngredients {
    width: 20%;
    margin-left: 50%;
    font-size: xx-large;
    margin-top: 10%;
}

/* login */
.open-button {
    background-color: red;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Times New Roman', Times, serif;

}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
}

.form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: red;
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*  registration */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
button:hover {
    opacity:1;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}

  /* Add padding to container elements */
.container {
    padding: 16px;
}

  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

  /* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

/* *************Success Page****************** */
#reorderFav {
    font-size: x-large;
}

#suprisePizza {
    font-size: large;
}
/* h2 quick options */
#quickOptions{
    font-size: 2vw;
    color: lightgrey
}
/* success page h1 pizza to the people  */
#successpizza {
    font-size: 3vw;
}
/* Account page ************************************************************************************** */

#accountform {
    display: inline-block;
    margin-right: 5%;
    margin-bottom: 10%;
    
}
#orderhistory {
    display: inline-block;
    margin-left: 3%;
    
}
#accountbody {
    display: flex;
    align-items: flex-start;
}

/* create pizza *****************************************************************************************  */
#createWrapper{
    background-image: linear-gradient(grey, beige);
}

#createHeader {
    background: no-repeat url("/static/img/download.jpg");
    height: 200px;
    
    
}

#createh1 {
    font-size: 5vw;
    
    

}
#createform {
    font-size: xx-large;
    margin-bottom: 18%;
    margin-top: 1%;
}

/* *************order/checkout page*************  */
#orderbody {
    display:flex;
    align-items: center;
    padding-top: 17%;
    padding-bottom: 22%;
}
#checkout {
    align-items: center;
    margin-left: 20%;
}
#order {
    align-items: center;
    margin-left: 22%;
}