<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
</head>
<body>
    <div id="accountWrapper" class="w3-container w3-2021-buttercream">
        <header class="w3-2021-desert-mist">
            <div class="w3-bar w3-2021-inkwell">
                <a href="/logout" class="w3-bar-item w3-right w3-button">Logout</a>
                <a href="#" class="w3-bar-item w3-button w3-right">Order({{cart.order_item.count}})</a>
                <a href="/success" class="w3-bar-item w3-button w3-right">Home</a>
            </div>
            <h1 id="successpizza" class="w3-cursive w3-center">Pizza for the People</h1>

        </header>

        <div id="accountbody" class="w3-container w3-cell">
            
            <div id="accountform" class="w3-container w3-cell w3-2021-inkwell">
                <h1>Current Order</h1>
                <p>Order #:{{cart.id}}</p>
                <p>For:{{cart.order_user}}</p>
                <p>{{cart.order_item.count}} Items:</p>
                {% for p in cart.order_item.all %}
                <p>{{p}}</p> <!--add remove button-->
                {% endfor %}
                <p>Amount: ${{cart.order_price}}</p>
            </div>
            <div id="accountform" class="w3-container w3-cell w3-2021-inkwell">
                <h1>Checkout</h1>
                <div id="paypal-button-container"></div>
            </div>
        </div>
        <script src="https://www.paypal.com/sdk/js?client-id=AQYecrKpR6llC0qMzQjeGEaAz82_D6aYWloRBiFed1RCRihlKg5Cg0yOVw-j80tigRayovVYZpA29QQI&currency=USD&disable-funding=credit"></script>

        <script>

            function getCookie(name) {
                let cookieValue = null;
                if (document.cookie && document.cookie !== '') {
                    const cookies = document.cookie.split(';');
                    for (let i = 0; i < cookies.length; i++) {
                        const cookie = cookies[i].trim();
                        // Does this cookie string begin with the name we want?
                        if (cookie.substring(0, name.length + 1) === (name + '=')) {
                            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                            break;
                        }
                    }
                }
                return cookieValue;
            }
            const csrftoken = getCookie('csrftoken');

            var orderId = '{{cart.id}}'
            var total = '{{cart.order_price}}'
            function completeOrder(){
                var url = "{% url 'complete' %}"
                
                fetch(url, {
                    method: 'POST',
                    headers:{
                        'Content-type':'application/json',
                        'X-CSRFToken': csrftoken,
                    },
                    body: JSON.stringify({'orderId': orderId})
                })
            }
            // Render the PayPal button into #paypal-button-container
            paypal.Buttons({
    
                
                // Set up the transaction
                createOrder: function(data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: total
                            }
                        }]
                    });
                },
    
                // Finalize the transaction
                onApprove: function(data, actions) {
                    return actions.order.capture().then(function(details) {
                        // Show a success message to the buyer
                        completeOrder()
                        alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    });
                }
    
    
            }).render('#paypal-button-container');
        </script>




    </div>
</body>
</html>