<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-2021.css">
</head>
<body>
    <div id="accountWrapper" class="w3-container w3-2021-buttercream">
        <header class="w3-2021-desert-mist">
            <div class="w3-bar w3-2021-inkwell">
                <a href="/logout" class="w3-bar-item w3-right w3-button">Logout</a>
                <a href="#" class="w3-bar-item w3-button w3-right">Order({{cart.order_item.count}})</a>
                <a href="/success" class="w3-bar-item w3-button w3-right">Home</a>
            </div>
            <h1 id="successpizza" class="w3-cursive w3-center">Pizza for the People</h1>

        </header>

        <div id="accountbody" class="w3-container w3-cell">
            
            <div id="accountform" class="w3-container w3-cell w3-2021-inkwell">
                <h1>Current Order</h1>
                <p>Order #:{{cart.id}}</p>
                <p>For:{{cart.order_user}}</p>
                <p>{{cart.order_item.count}} Items:</p>
                {% for p in cart.order_item.all %}
                <p>{{p}}</p>
                {% endfor %}
                <p>Amount: ${{cart.order_price}}</p>
            </div>
            <div>
                <h1>Checkout</h1>
            </div>
            

        </div>





    </div>
</body>
</html>